In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/creditCardDatasetUTF8.csv', encoding='utf8', delimiter=';')

In [ ]:
df.head(100)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,90000,1,2,2,35,0,0,0,0,...,35565,30942,30835,3621,3597,1179,1112,1104,1143,0
96,97,360000,1,1,1,43,-1,-1,-1,-1,...,6451,26370,9956,8339,3394,12902,27000,0,68978,0
97,98,150000,1,1,2,27,0,0,0,0,...,89775,87725,40788,4031,10006,3266,4040,1698,800,0
98,99,50000,2,3,1,22,0,0,0,0,...,13150,8866,7899,1411,1194,379,281,321,197,0
99,100,20000,1,2,1,38,0,0,0,0,...,18240,17928,150,1699,1460,626,1750,150,0,1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  int64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  int64
 13  BILL_AMT2                   30000 non-null  int64
 14  BILL_AMT3                   30000 non-null  int64
 15  BILL_AMT4                   30000 non-null  int64
 16  BILL_AMT5                   30000 non-null  int64
 17  BILL_AMT6                   30000 non-null  int64
 18  PAY_AMT1                    30000 non-null  int64
 19  PAY_AMT2                    30000 non-null  int64
 20  PAY_AMT3                    30000 non-null  int64
 21  PAY_AMT4                    30000 non-null  int64
 22  PAY_AMT5                    30000 non-null  int64
 23  PAY_AMT6                    30000 non-null  int64
 24  default payment next month  30000 non-null  int64
dtypes: int64(25)
memory usage: 5.7 MB

In [ ]:
pd.isnull(df)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
import statistics
import math
from scipy import stats
import numpy
from collections import Counter

Calcule os valores máximo, mínimo, a moda, mediana,
média aritmética e podada

Idade (AGE)

In [ ]:
print('Média de idade é: ',df['AGE'].mean())

Média de idade é:  35.4855

In [ ]:
print('Pessoa mais nova: ', (df['AGE']).min())

Pessoa mais nova:  21

In [ ]:
print('Pessoa mais velha: ', (df['AGE']).max())

Pessoa mais velha:  79

In [ ]:
print('A mediana de Idade é:',(df['AGE'].median()))

A mediana de Idade é: 34.0

In [ ]:
moda = df['AGE'].mode()
print('A moda de Idade é:' + str(moda))

A moda de Idade é:0    29
dtype: int64

Valor crédito concebido (LIMIT_BAL)

In [ ]:
print('Média do valor de crédito concebido: ',df['LIMIT_BAL'].mean())

Média do valor de crédito concebido:  167484.32266666667

In [ ]:
print('Valor mínimo do crédito concebido: ', (df['LIMIT_BAL']).min())

Valor mínimo do crédito concebido:  10000

In [ ]:
print('Valor máximo do crédito concebido: ', (df['LIMIT_BAL']).max())

Valor máximo do crédito concebido:  1000000

In [ ]:
print('A mediana do valor de crédito concebido é:',(df['LIMIT_BAL'].median()))

A mediana do valor de crédito concebido é: 140000.0

In [ ]:
moda = df['LIMIT_BAL'].mode()
print('A moda do valor de crédito concebido é:' + str(moda))

A moda do valor de crédito concebido é:0    50000
dtype: int64

Valor do extrato da conta mês 4 (BILL_AMT4)

In [ ]:
print('Média do extrato das contas do mês 4: ',df['BILL_AMT4'].mean())

Média do extrato da conta do mês 4:  43262.94896666666

In [ ]:
print('Valor mínimo do extrato das contas do mês 4: ',df['BILL_AMT4'].min())

Valor mínimo do extrato da conta do mês 4:  -170000

In [ ]:
print('Valor máximo do extrato das contas do mês 4: ',df['BILL_AMT4'].max())

Valor máximo do extrato da conta do mês 4:  891586

In [ ]:
print('A mediana do extrato das contas do mês 4: ',df['BILL_AMT4'].median())

A mediana do extrato das contas do mês 4:  19052.0

In [ ]:
moda = df['BILL_AMT4'].mode()
print('A moda do extrato das contas do mês 4:' + str(moda))

A moda do extrato das contas do mês 4:0    0
dtype: int64

Valor do extrato da conta mês 5 (BILL_AMT5)

In [ ]:
print('Média do extrato das contas do mês 5: ',df['BILL_AMT5'].mean())

Média do extrato das contas do mês 5:  40311.40096666667

In [ ]:
print('Valor mínimo do extrato das contas do mês 5: ',df['BILL_AMT5'].min())

Valor mínimo do extrato das contas do mês 5:  -81334

In [ ]:
print('Valor máximo do extrato das contas do mês 5: ',df['BILL_AMT5'].max())

Valor máximo do extrato das contas do mês 5:  927171

In [ ]:
print('A mediana do extrato das contas do mês 5: ',df['BILL_AMT5'].median())

A mediana do extrato das contas do mês 5:  18104.5

In [ ]:
moda = df['BILL_AMT4'].mode()
print('A moda do extrato das contas do mês 5:' + str(moda))

A moda do extrato das contas do mês 5:0    0
dtype: int64

Quantia paga no mês 5 (PAY_AMT2)

In [ ]:
print('Média da quantia paga no mês 2: ',df['PAY_AMT2'].mean())

Média da quantia paga no mês 2:  5921.1635

In [ ]:
print('Valor mínimo da quantia paga no mês 2: ',df['PAY_AMT2'].min())

Valor mínimo da quantia paga no mês 2:  0

In [ ]:
print('Valor da quantia paga no mês 2: ',df['PAY_AMT2'].max())

Valor da quantia paga no mês 2:  1684259

In [ ]:
print('A mediana da quantia paga no mês 2: ',df['PAY_AMT2'].median())

A mediana da quantia paga no mês 2:  2009.0

In [ ]:
moda = df['PAY_AMT2'].mode()
print('A da quantia paga no mês 2:' + str(moda))

A da quantia paga no mês 2:0    0
dtype: int64